{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online Shop</title>
    <link rel="icon" href="{% static 'img/Fevicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/nice-select/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/nouislider/nouislider.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!--================ Start Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" href="/"><img src="img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/shop">Shop</a></li>
                        {% if not user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="/users/login">Login</a></li>
                        {% endif %}
                    </ul>

                    <ul class="nav-shop">
                        <li class="nav-item">
                            <form id="search-form" method="GET">
                                {% csrf_token %}
                                <input id="search-input" type="text" name="query" placeholder="Search..."/>
                                <button type="submit"><i class="ti-search"></i></button>
                            </form>
                        </li>
                    </ul>
                    <li class="nav-item">
                        <a href="/cart">
                            <i class="ti-shopping-cart"></i>
                        </a>
                    </li>s
                    <li class="nav-item"><a class="button button-header" href="/shop">Buy Now</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================ End Header Menu Area =================-->

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Shop Category</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop Category</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ category section start ================= -->
<section class="section-margin--small mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Start Best Seller -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-md-4">
                                <div class="card text-center card-product">
                                    <div class="card-product__img">
                                        <img class="card-img" src="{{ product.image.url }}" alt="">
                                        <ul class="card-product__imgOverlay">
                                            <form method="post">
                                                {% csrf_token %}
                                                {% if user.is_authenticated %}
                                                    <li>
                                                        <input type="hidden" name="id" value="{{ product.id }}">
                                                        <button><i class="ti-shopping-cart" type="submit"></i></button>
                                                    </li>
                                                {% else %}
                                                    <button type="button" onclick="redirectToLogin()"><i
                                                            class="ti-shopping-cart"></i></button>
                                                {% endif %}
                                            </form>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-product__title"><a href="#">{{ product.name }}</a></h4>
                                        <p class="card-product__price">${{ product.price }}</p>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:4 %}
                                <div class="row"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>

                <!-- End Best Seller -->
            </div>
        </div>
    </div>
</section>
<!-- ================ category section end ================= -->

<!-- ================ top product area start ================= -->

<!-- ================ Subscribe section start ================= -->
<section class="subscribe-position">
    <div class="container">
        <div class="subscribe text-center">
            <h3 class="subscribe__title">Get Update From Anywhere</h3>
            <p>Bearing Void gathering light light his eavening unto dont afraid</p>
            <div id="mc_embed_signup">
                <form target="_blank"
                      action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                      method="get" class="subscribe-form form-inline mt-5 pt-1">
                    <div class="form-group ml-sm-auto">
                        <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Enter your email"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '">
                        <div class="info"></div>
                    </div>
                    <button class="button button-subscribe mr-auto mb-1" type="submit">Subscribe Now</button>
                    <div style="position: absolute; left: -5000px;">
                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                    </div>

                </form>
            </div>

        </div>
    </div>
</section>
<!-- ================ Subscribe section end ================= -->


<!--================ Start footer Area  =================-->
<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row section_gap">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title large_title">Our Mission</h4>
                        <p>
                            So seed seed green that winged cattle in. Gathering thing made fly you're no
                            divided deep moved us lan Gathering thing us land years living.
                        </p>
                        <p>
                            So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep
                            moved
                        </p>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">Quick Links</h4>
                        <ul class="list">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">Contact Us</h4>
                        <div class="ml-40">
                            <p class="sm-head">
                                <span class="fa fa-location-arrow"></span>
                                Head Office
                            </p>
                            <p>123, Main Street, Your City</p>

                            <p class="sm-head">
                                <span class="fa fa-phone"></span>
                                Phone Number
                            </p>
                            <p>
                                +123 456 7890 <br>
                                +123 456 7890
                            </p>

                            <p class="sm-head">
                                <span class="fa fa-envelope"></span>
                                Email
                            </p>
                            <p>
                                free@infoexample.com <br>
                                www.infoexample.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row d-flex">
                <p class="col-lg-12 footer-text text-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>
<!--================ End footer Area  =================-->


<script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendors/skrollr.min.js' %}"></script>
<script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendors/nice-select/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'vendors/nouislider/nouislider.min.js' %}"></script>
<script src="{% static 'vendors/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'vendors/mail-script.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'https://code.jquery.com/jquery-3.6.4.min.js' %}"></script>
{#<script>#}
{#    $(document).ready(function () {#}
{#        $('#search-form').on('submit', function (e) {#}
{#            e.preventDefault();  // Prevent form submission#}
{#            var query = $('#search-input').val();#}
{#            #}
{#            // Make AJAX request to get search results#}
{#            $.ajax({#}
{#                url: '{% url "shop" %}',#}
{#                method: 'GET',#}
{#                data: { query: query },#}
{#                success: function (data) {#}
{#                    // Update the search results container with the received data#}
{#                    $('#search-results').html(data);#}
{#                },#}
{#                error: function (error) {#}
{#                    console.log('Error:', error);#}
{#                }#}
{#            });#}
{#        });#}
{#    });#}
{#</script>#}

</body>
</html>

